body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: rgba(30, 57, 50, 0.8);
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  width: calc(100vw - 48px);
  max-width: 900px;
  max-height: calc(100dvh - (2 * var(--header-height)));
  padding: 0;
  border: none;
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-heavy);
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - 48px);
  padding: var(--spacing-m);
  padding-top: 0;
  margin-top: 56px;
}

@media (width >= 900px) {
  .modal dialog {
    width: calc(100vw - 64px);
  }

  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - 64px);
    padding: var(--spacing-l);
    padding-top: 0;
  }
}

.modal .close-button {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  width: 44px;
  height: 44px;
  margin: 0;
  border: none;
  border-radius: 50%;
  padding: 0;
  background-color: var(--starbucks-cream);
  color: var(--starbucks-black);
  line-height: 0;
  transition: all 0.3s ease;
  box-shadow: none;
}

.modal .close-button:hover {
  background-color: var(--starbucks-green);
  color: white;
  transform: rotate(90deg);
}

.modal .close-button .icon.icon-close {
  content: '';
  width: 24px;
  height: 24px;
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg)
}

.modal dialog .section {
  padding: 0;
}
